<div class="homepage-container">
  <div class="homepage-col-left">
    <h1 class="homepage-title">Find a flat to stay</h1>
    <p class="homepage-text">It has never been easier to find a place. With At Home, you can find the best and most convenient apartment wherever you want and feel like you are at home.</p>
    <button type="button" class="brown-button" data-bs-toggle="modal" data-bs-target="#reg-modal">
      Start now
    </button>
  </div>
  <div class="homepage-col-right">
    <%= image_tag 'homepage-img.png', class: "homepage-img" %>
  </div>
</div>
<!--sign up modal-->
<div class="modal fade bd-example-modal-lg" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "devise/shared/signup", locals: { resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping } %>
      </div>
    </div>
  </div>
</div>
<!--sign up modal-->
<!--log in modal-->
<div class="modal fade bd-example-modal-lg" id="log-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "devise/shared/login", locals: { resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping } %>
      </div>
    </div>
  </div>
</div>
<!--log in modal-->
<!--forgot password modal-->
<div class="modal fade bd-example-modal-lg" id="forpass-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "devise/shared/forgot_password", locals: { resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping } %>
      </div>
    </div>
  </div>
</div>
<!--forgot password modal-->
