.brown-button {
  color: #fff;
  text-align: center;
  background-color: #463939;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  text-decoration: none;
  transition: box-shadow .2s, transform .2s;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

.brown-button:hover {
  color: #fff;
  background-color: #463939;
  width: 120px;
  transform: translate(0, -1px);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .37);
}
