.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 4px;
  height: 60px;
  padding: 0 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  .navbar-logo {
    width: 60px;
  }

  .navbar-link {
    color: #463939;
    font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 16px;
    text-decoration: none;
  }
}

.navbar-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;

  .navbar-button {
    color: #fff;
    text-align: center;
    background-color: #463939;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    text-decoration: none;
    transition: box-shadow .2s, transform .2s;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .navbar-button:hover {
    background-color: #463939;
    width: 120px;
    transform: translate(0, -1px);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .37);
  }
}
