.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 4px;
  height: 60px;
  padding: 0 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  .navbar-logo {
    width: 60px;
  }

  .navbar-link {
    color: #463939;
    font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 16px;
    text-decoration: none;
  }
}

.navbar-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}
